body {
    background-color: #f8f9fa; 
}
#discountForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #343a40;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}
.container {
    margin-bottom: 60px;
}